.cache
.cask
.lsp-session*
.session
ac-comphist.dat
auto-save-list
backups
bookmarks
elpa
eshell
forge-database.sqlite
mspyls
projectile-bookmarks.eld
projectile.cache
recentf
saved-places
transient
var
/url/
/async-bytecomp.log
