.cache
.lsp-session*
.session
ac-comphist.dat
auto-save-list
backups
bookmarks
eln-cache
elpa
eshell
forge-database.sqlite
mspyls
projectile-bookmarks.eld
projectile.cache
recentf
saved-places
speed-type
transient
var
/url/
/async-bytecomp.log
/%backup%~
/tramp
/projects
/.extension/
/.dap-breakpoints
